@use "abstracts/index" as *;

.item {
  font-size: rem(20);
    color: $white;
    &:not(:last-child){
      margin-right: rem(50);
    }

  a{
    text-transform: uppercase;
     &:hover {
    color: $main;
      @include transition();
  }

  &:active {
    color: green;
  }



  &:focus {
    outline: 2px solid orange;
  }
  }
}
