@import '@/assets/styles/abstracts/index.scss';

.link {
  display: flex;
  align-items: center;
  @include transition();
  border-radius: $border;
  padding: rem(12);
  &:hover {
    background-color: rgba(54, 65, 82, 0.40);
    .image {
      background-image: $blue-gradient;
      backdrop-filter: blur(6px);
    }
  }
}
.item {
  margin-bottom: rem(8);
}
.image {
  border-radius: $border-sm;
  background-image: none;
  background-color: rgba(54, 65, 82, 0.40);
  flex-shrink: 0;
  margin-right: rem(16);
  @include transition();

}
.icon {
  width: rem(24) !important;
  height: rem(24) !important;
  margin: rem(8);
  position: relative !important;
}
.name {
  overflow: hidden;
  color: $white;
  text-overflow: ellipsis;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  max-width: 140px;
  white-space: nowrap;
}
.description {
  overflow: hidden;
  color: $gray-text;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  white-space: nowrap;

  @include breakpoint($xxl) {
    max-width: 140px;
  }
  @include breakpoint($lg) {
    max-width: initial;
  }
}
.text {
  overflow: hidden;
}