@import '@/assets/styles/abstracts/index.scss';


.wrapper {
  border-left: 4px solid var(--Transparent-Gray-Gray-20, rgba(54, 65, 82, 0.40));
  padding: rem(16) rem(24);
  margin-bottom: rem(16);
}


.subs  {
  display: flex;
  color: var(--Gray-400, #9AA4B2);
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 18px;
}
.items {
    display: flex;
   justify-content: space-between;
}

.name {
  color: var(--Base-White, #FFF);
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: rem(8);
}