@import '@/assets/styles/abstracts/index.scss';


.card {
  border-radius: rem(24);
  height: rem(288);
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border: 1px solid $dark-blue;
  @include transition();
  user-select: none;

  &::after {
    position: absolute;
    content: '"';
    z-index: 100;
    background-image: url("../../../../../assets/images/bg/slideHover.png");
    bottom: 0;
    height: 0;
    width: 100%;
    transition: all 0.5s ease;
  }

  &::before {
    position: absolute;
    content: '"';
    z-index: 99;
    background: linear-gradient(180deg, rgba(32, 41, 57, 0.00) 0%, rgba(32, 41, 57, 0.64) 100%);
    backdrop-filter: blur(2px);
    bottom: 0;
    height: 0;
    width: 100%;
  }

  &:hover {
    &::after {
      height: rem(200);
    }

    &::before {
      height: 100%;
    }

    .link {
      opacity: 1;
    }
  }
}

.content {
  position: relative;
  height: 100%;
}

.link {
  padding: rem(24);
  opacity: 0;
  border-radius: 10px;
  background: var(--Blue-700, #175CD3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: rem(40);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: var(--Base-White, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  z-index: 555;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
