@import '@/assets/styles/abstracts/index.scss';

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(48);
  @include breakpoint($lg) {
    margin-bottom: rem(32);
    justify-content: flex-end!important;
    margin-left: 0px!important;
  }
  h3 {
    font-size: rem(20);
    font-style: normal;
    font-weight: 400;
    line-height: rem(32);
    text-align: right;
    display: inline;
    color: $gray;
    width: calc(100% - 204px);
    @include breakpoint($lg) {
      width: calc(100% - 154px);
    }
    span {
      position: relative;
      background: radial-gradient(50% 50% at 50% 59.37%, #090909 0%, #616161 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:before {
        content: "";
        display: inline-block;
        width: 160px;
        height: 1px;
        background-color: #444;
        position: absolute;
        top: 50%;
        right: calc(100% + 1.5rem);
        @include breakpoint($lg) {
          width: 120px;
        }
      }
    }

  }


}