@import '@/assets/styles/abstracts/index.scss';


.card {
  padding: rem(16);
  background-image: url("../../../../../assets/images/bg/menu-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
}

.title  {
  color: var(--Gray-400, #9AA4B2);

  /* regular/14 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin-top: rem(16);
  margin-left: rem(8);
  margin-bottom: 10px;
}
