@import '@/assets/styles/abstracts/index';

.wrapper {
  border-bottom-left-radius: $border-xl;
  border-bottom-right-radius: $border-xl;
  background-image: url("../../../assets/images/bg/cover_image2.svg");
  background-size: cover;
  background-position: bottom;

  &__mobile {
    height: 90vh;
  }
}

.content {
  align-items: center;
  padding-top: rem(200);
  padding-bottom: rem(160);
  position: relative;
  height: 100%;
  @include breakpoint($lg) {
    padding: rem(100) rem(20) rem(53);
    //height: 436px;
  }
  &__lines {
    background-image: url("../../../assets/images/bg/common-lead-bg.svg");
    background-position: top;
    background-size: cover;
  }
  &_wrapper {
    position: relative;
    z-index: 1;

    @include breakpoint($lg) {
      position: static;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.margin {
  margin-top: rem(35);
  position: relative;
  z-index: 1;
}

.date {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  color: $text;
  margin-top: rem(24);
  margin-bottom: rem(24);
}


.title {
  font-size: rem(48);
  font-weight: 700;
  line-height: rem(64);
  //text-align: center;
  color: $white;
  margin-bottom: rem(24);
  margin-top: rem(24);
  background: linear-gradient(90deg, #FFF 40%, #697586 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include ellipsis(3);
  @include breakpoint($lg) {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

.subTitle {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  //text-align: center;
  color: $text;
  @include ellipsis(2);
  position: relative;
  z-index: 1;
}

.image_container {
  aspect-ratio: 16/9;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

