@use "abstracts/index" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --accent-color: $main;
  margin: rem(100) rem(0);
  .page {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  .title {
    h1 {
      font-size: 3rem;
      font-weight: 800;
      color: #fff;
      text-align: center;

      span {}
    }
  }

  &.header_primary {

    .page,
    .accentText {
      color: $main;
      text-shadow: 0 0 10px rgba(16, 253, 254, 0.5);
    }

   .divider {
      &::before {
        content: '';
        background: $neon-purple;
        box-shadow: 0 0 8px rgba(16, 253, 254, 0.6);
      }
    }
  }

  &.header_secondary {

    .page,
    .accentText {
      color: $neon-purple;
      text-shadow: 0 0 15px rgba(255, 0, 255, 0.6);
    }

    .divider {
      &::before {
        content: '';
        background: $main;
        box-shadow: 0 0 8px rgba(16, 253, 254, 0.6);
      }
    }
  }

  .divider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(20) rem(0);
    &::before {
      content: '';
      width: 100px;
      height: rem(4);
      // background: $main;
    }
  }
  .desc{
    margin-top: rem(10);
    p{
      color:$gray-200;
      text-align: center;
    }
  }
}
