@import '@/assets/styles/abstracts/index.scss';


.card {
  //background: #4B5565;
  position: fixed;
  width: 100%;
  height: calc(100% - 60px);
  top: rem(81);
  right: -100%;
  padding-left: rem(3);
  @include transition();
  z-index: -100;
  padding-top: rem(16);
  background-image: url("../../../../../assets/images/bg/menu-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: rgba(18, 25, 38);
}

.card__active {
  right: 0;
}

.sub_wrapper {
  position: absolute;
  height: 100%;
  background-color: rgba(18, 25, 38);
  //padding: rem(16) rem(20);

  width: 0;
  top: 0;
  right: 0;
  @include transition();
}

.sub_wrapper__active {
  width: 100%;
}

.lang_switcher {
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  gap: rem(12);
  padding: rem(4);
  background: #364152;
  border-radius: rem(12);
  margin-top: rem(116);
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px!important;
    height: 32px!important;
    background: none;
    border: none;
    border-radius: rem(8);
    color: $white;
    font-weight: 500;
    font-size: rem(12);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      border: rem(1) solid $modern-blue-500 !important;
      background: none !important;
    }

    &.active {
      background: $modern-blue-500 !important;

    }
  }
}