@use "abstracts/index" as *;

.header {
    height: rem(80);
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid $main;
    .logo{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-shadow: 0 0 10px #000000, 0 0 20px;
        font-weight: 600;
        font-size: rem(20);
        p{
            color: $main;

        }
        span{
            color: $neon-purple;
        }
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
