@import '@/assets/styles/abstracts/index.scss';


.menu {
  position: fixed;
  top: rem(100);
  right: rem(40);
  //right: 0;
  border-radius: $border-l;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background-color: rgba(11, 16, 26, 0.90);
  backdrop-filter: blur(16px);
  padding: rem(24);
  //top: calc(100% + 20px);
  width: max-content;
  background-image: url("../../../../../assets/images/bg/menu-bg2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  @include transition();
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  max-width: fit-content;
  overflow: hidden;
  @include breakpoint($xl) {
    right: rem(5);
    padding: rem(5);
  }
}

.title {
  color: $white;
  font-size: rem(16);
  font-weight: 500;
  margin-bottom: rem(20);
  padding-left: rem(8);
}

.group {
  padding: rem(16);
  border-radius: $border;
  @include transition();
  margin-bottom: rem(12);
  margin-right: rem(12);
  position: relative;
  overflow: hidden;
  &::before {
    @extend %bg-cover;
    background: rgba(54, 65, 82, 0.40);
    opacity: 0;
    backdrop-filter: blur(10px);
    @include transition();
    border-radius: $border;

  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
  @include breakpoint($xl) {
    padding: rem(8);
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 610px;
  flex-wrap: wrap;
  max-height: calc(100vh - 230px);

  overflow: auto;
}

.heading {

}

.close {
  padding: rem(16);
  border-radius: $border;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include transition();
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-color: $dark-text;
  }

  &:active {
    border: 1px solid $gray-text;
    background: $common-text-color;
  }
}

.search {
  display: flex;
  align-items: center;
  border-radius: $border;
  border: 1px solid $dark-blue-200;
  background: $dark-blue-300;
  padding: rem(4);

  &_container {
    width: 100%;
    position: relative;
    margin-right: rem(12);

  }

  &_icon {
    position: absolute;
    top: calc(50% - 12px);
    left: 16px;
  }
}

.input {
  width: 100%;
  border-radius: 16px;
  background: #1A202A;
  border: none;
  outline: none;
  height: 48px;
  padding-left: rem(50);
  color: $white;
}

.dropdown {
  position: relative;

  &_icon {
    cursor: pointer;
    padding: rem(9);
    border-radius: 12px;
    border: 1px solid $gray-600;
    display: flex;
    align-items: center;
    svg {
      color: white;
    }

    &__active {
      background: rgba(54, 65, 82, 0.40);
      pointer-events: none;

      svg {
        color: $blue;
      }
    }
  }
}

.show {
  opacity: 1;
  visibility: visible;
}