@use "abstracts/index" as *;

.button {
  border-radius: $border-sm-2;
  padding: rem(12) rem(32);
  font-weight: 500;
  outline: none;
  border: none;
  font-family: $font;
  font-size: rem(20);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @include transition();
  @include breakpoint($md) {
    border-radius: $border-sm;
  }

  &_primary {
    color: $white;
    background-color: color-mix(in oklab, $neon-purple 20%, transparent);
    border:1px solid $neon-purple;

    transition: background-color 0.3s;

    &:hover {
      background: color-mix(in oklab, $neon-purple 50%, transparent);
    }
  }

  &_secondary {
    background-color: transparent;
    border: 1px solid $main;
    color: $main;
      &:hover {
      background: color-mix(in oklab, $main 20%, transparent);
    }
  }

  &_gray {
    color: $white;
    background-color: $gray;
    border-radius: 48px;



  }

  &_dark {
    color: $white;
    background-color: $gray;
    border-radius: 12px;
    border: 1px solid var(--Gray-700, #364152);
    background: var(--Transparent-Gray-Gray-40, rgba(32, 41, 57, 0.40));


  }

  &_info {
    background-color: rgba(255, 255, 255, 0.20);
    color: $white;
    backdrop-filter: blur(10px);
    border-radius: 100px;
  }
}
