@use "abstracts/index" as *;

.hero {
    background-image: linear-gradient(rgba(16, 253, 254, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(16, 253, 254, 0.1) 1px, transparent 1px);
    background-size: 52px 32px;
    background-position: center;
    height: auto;
    min-height: 100vh;

    .heroContent {
        padding-top: rem(100);
    }

    .content {
        .badge {
            margin-bottom: rem(20);

            span {
                display: inline-block;
                text-transform: uppercase;
                color: $main;
                font-size: rem(13);
                border: 0.5px solid $main;
                border-radius: rem(22);
                padding: rem(5) rem(20);
            }
        }

        .title {
            margin: rem(20) rem(0);
            // text-transform: uppercase;
            font-size: rem(72);
            font-weight: 800;
            text-shadow: 0 0 10px #000000, 0 0 20px;

            .text {
                color: $white;

                span {
                    color: $main;
                }

                p {
                    color: $neon-purple;
                }
            }
        }

        .desc {
            margin-bottom: rem(20);
        }

        .desc {
            p {
                color: rgb(221, 221, 221);
                font-size: rem(20);
            }
        }
    }

    .aboutMe {
        border: 1px solid $main;
        box-shadow: 0 0 10px $main;
        border-radius: rem(8);
        padding: rem(20);
        background-color: color-mix(in oklab, $dark-space 100%, transparent);
        position: relative;
        box-sizing: border-box;

        .bgNeon {
            position: absolute;
            bottom: 0;
            right: 0;
            background: radial-gradient(at bottom right, color-mix(in oklab, #{$neon-purple} 30%, transparent), transparent 70%);
            width: 100%;
            height: 300px;

        }

        .profile {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .picture {
                img {
                    border-radius: 50%;
                    object-fit: contain;
                    border: 3px solid $main;
                }
            }

            .profileContent {
                margin-top: rem(10);

                p {
                    color: $main;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                span {
                    font-weight: 600;
                    color: $gray-200;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .rightContent {
            opacity: 0.17;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .name {
            margin-bottom: rem(10);
            color: $gray;
            font-weight: 600;
        }

        .startDiv {
            color: $neon-purple;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-lime;
                }

                &:last-child {
                    color: $text-yellow ;
                }
            }
        }

        .startWebsite {
            padding-left: rem(40);
            color: $white ;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:last-child {
                    color: $white ;
                }

                &:nth-child(3) {
                    color: $color-pink;
                    margin: rem(0) rem(5);
                }
            }
        }

        .idea {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(3) {
                    color: $color-green;
                }
            }
        }

        .tools {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(3) {
                    color: $color-green;
                }
            }
        }

        .mission {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(3) {
                    color: $color-green;
                }
            }
        }

        .build {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(5) {
                    margin: rem(0) rem(5);
                }

                &:nth-child(5) {
                    color: $color-pink;
                }
            }
        }

        .sign {
            color: $text-yellow;
        }

        .allTools {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(4) {
                    color: $color-pink;
                }

                &:nth-child(6) {
                    color: $color-green;
                    margin: rem(0) rem(10);
                }
            }
        }

        .returns {
            padding-left: rem(70);
            color: $white;
            margin-bottom: rem(10);

            span {
                &:first-child {
                    color: $text-blue;
                    margin-right: rem(10);
                }

                &:nth-child(2) {
                    color: $white;
                }

                &:nth-child(4) {
                    color: $color-pink;
                }

                &:nth-child(6) {
                    color: $color-green;
                    margin: rem(0) rem(10);
                }
            }
        }

        .bestSkill {
            border: 0.5px solid;
            border-color: color-mix(in oklab, $main 30%, transparent);
            background: $dark-space;
            border-radius: rem(20);
            position: absolute;
            right: 50%;
            transform: translate(50%);

            .content {
                width: rem(350);
                display: flex;
                justify-content: center;
                padding: rem(7);

                p {
                    &:nth-child(odd) {
                        color: $main;
                        padding-left: rem(10);
                    }

                    &:nth-child(even) {
                        color: $neon-purple;
                    }

                    &:not(:last-child) {
                        padding-right: rem(10);
                        border-right: 1px solid $white;
                        margin-right: rem(10);

                    }
                }

            }
        }
    }
}
